# Zależności i pakiety
node_modules/
npm-debug.log*

# Buildy
dist/
build/
dist-ssr/

# Środowisko i sekrety
.env
.env.local

# Baza danych i pliki konfiguracyjne Zigbee2MQTT
zigbee2mqtt-data/

# Pliki edytorów i systemowe
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local